/* Google Font css link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Google Font css link */

/* Root color and font family */
:root {
    --work_sans: "Work Sans", serif;

}

/* Root color and font family */
/* Target all browsers */
input[type=number] {
    -moz-appearance: textfield;
    /* For Firefox */
    -webkit-appearance: none;
    /* For Chrome, Safari, Edge */
    appearance: none;
    /* For modern browsers */
}

/* Optional: Hide the up/down arrows in WebKit-based browsers (like Chrome) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* basic css desing file */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix {
    content: "";
    clear: both;
}

body,
header,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span,
table,
footer,
nav,
div,
section {
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* basic css style desing ended */

/* banner section css part start  */
.banner {
    width: 100%;
    padding: 180px 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.banner_top_text {
    font-family: var(--work_sans);
    font-size: 16px;
    font-weight: 600;
    color: #c3c3c3;
    margin-bottom: 5px;
}

.banner_heading {
    font-family: var(--work_sans);
    width: 45%;
    margin: 0 auto;
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}

.banner_sub_heading {
    width: 48%;
    margin: 0 auto;
    font-family: var(--work_sans);
    font-size: 12px;
    font-weight: 400;
    color: #c3c3c3;
    margin-bottom: 35px;

}

.banner_btn {
    padding: 10px 20px;
    font-family: var(--work_sans);
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    background-color: #52C303;
    border-radius: 5px;
}

/* banner section css part end */
/* about section css part start  */
.about {
    width: 100%;
    padding-top: 70px;
}

.about_left {
    width: 50%;
    float: left;

}

.about_right {
    width: 50%;
    text-align: center;
    float: right;
    padding-top: 70px;

}

.about_left img {
    width: 100%;

}

.social_icon_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_heading {
    font-family: var(--work_sans);
    font-size: 30px;
    font-weight: 700;
    color: #101010;
    margin-bottom: 20px;
    padding: 0 70px;
}

.about_text {
    font-family: var(--work_sans);
    font-size: 14px;
    font-weight: 400;
    color: #101010;
    margin-bottom: 40px;
}

.about_socila {
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    color: #000;
}

.social_icon_list li {

    margin-top: 20px;
    margin-right: 10px;
}

.social_icon_list li a i {
    font-size: 20px;
    color: black;

}

.fa-facebook {
    color: #1877F2 !important;
}

.fa-instagram {
    color: #d62976 !important;
}

.fa-pinterest {
    color: #E60023 !important;
}


/* about section css part end */
/* card box design css part start  */
.card_main {
    padding: 70px 0px;

}

.p_card_box_top {
    font-family: var(--work_sans);
    font-family: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    color: #101010;

}

.p_card_box_heading {
    width: 47%;
    margin: 0 auto;
    font-family: var(--work_sans);
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    color: #000;
}

.card_box_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 40px 0px;
}

.card_box {
    text-align: center;

}

.card_box img {
    width: 100%;
}

.pizza {
    margin: 15px 0px;
    padding: 8px 16px;
    background-color: #53c30334;
    display: inline-block;
    border-radius: 5px;
    font-family: var(--work_sans);
    font-size: 12px;
    font-weight: 500;


}

.up_dis {
    font-family: var(--work_sans);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card_buttom_text {
    font-family: var(--work_sans);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.card_btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.card_all_btn {
    display: inline-block;
    padding: 10px 16px;
    background-color: #52C303;
    border-radius: 5px;
    font-family: var(--work_sans);
    font-size: 14px;
    font-weight: 500;
    color: #fff;

}

/* card box design css part end */
/* footer section css part start  */
.footer_main {
    text-align: center;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../image/social-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
}

.footer_content {
    width: 50%;
    margin: 0 auto;
}

/* footer section css part end */